<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<!-- New Wappler Page -->
</head>
<body>
<main is="dmx-view" id="content">
  <%- await include(content, locals); %>
</main></body>
</html>
